<%= form_for(@stock_setting) do |f| %>
  <% if @stock_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_setting.errors.count, "error") %> prohibited this stock_setting from being saved:</h2>

      <ul>
      <% @stock_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
