<p id="notice"><%= notice %></p>

<h1>Listing Stock Settings</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_settings.each do |stock_setting| %>
      <tr>
        <td><%= stock_setting.symbol %></td>
        <td><%= link_to 'Show', stock_setting %></td>
        <td><%= link_to 'Edit', edit_stock_setting_path(stock_setting) %></td>
        <td><%= button_to 'Destroy', stock_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock setting', new_stock_setting_path %>
