<script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script>
<%= javascript_include_tag "jClocksGMT"%>
<%= javascript_include_tag "jquery.rotate"%>

<!-- <h1>Info </h1> -->
<table width="100%">
<tr>
<td>
<div id="clock_bangelore" class="clock_container">
    <div class="lbl">Bangelore</div>
    <div class="clockHolder">
        <div class="rotatingWrapper"><%= image_tag("clock_hour.png", class:"hour") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_min.png", class:"min") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_sec.png", class:"sec") %></div>
        <%= image_tag("clock_face.png", class:"clock") %>
    </div> 
    <div class="digital">
        <span class="hr"></span><span class="minute"></span> <span class="period"></span>
    </div>
</div>
</td>
<td>
<div id="clock_dub" class="clock_container">
    <div class="lbl">Dublin</div>
    <div class="clockHolder">
        <div class="rotatingWrapper"><%= image_tag("clock_hour.png", class:"hour") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_min.png", class:"min") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_sec.png", class:"sec") %></div>
        <%= image_tag("clock_face.png", class:"clock") %>
    </div> 
    <div class="digital">
        <span class="hr"></span><span class="minute"></span> <span class="period"></span>
    </div>
</div>
</td>
<td>
<div id="clock_dc" class="clock_container">
    <div class="lbl">Washington, DC</div>
    <div class="clockHolder">
        <div class="rotatingWrapper"><%= image_tag("clock_hour.png", class:"hour") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_min.png", class:"min") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_sec.png", class:"sec") %></div>
        <%= image_tag("clock_face.png", class:"clock") %>
    </div> 
    <div class="digital">
        <span class="hr"></span><span class="minute"></span> <span class="period"></span>
    </div>
</div>
</td>

<td>
<div id="clock_cali" class="clock_container">
    <div class="lbl">California</div>
    <div class="clockHolder">
        <div class="rotatingWrapper"><%= image_tag("clock_hour.png", class:"hour") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_min.png", class:"min") %></div>
        <div class="rotatingWrapper"><%= image_tag("clock_sec.png", class:"sec") %></div>
        <%= image_tag("clock_face.png", class:"clock") %>
    </div> 
    <div class="digital">
        <span class="hr"></span><span class="minute"></span> <span class="period"></span>
    </div>
</div>
</td>
</tr>
</table>

<div>
<table>

<tr>

<td valign="top" rowspan="10" id="rss">Loading...</td>

</tr>
<th>Stock</th>
<tr>
<td align="center" valign="top">
<div id="stock" class="infoSurround">Loading...</div>
</td>
</tr>

<th>Weather</th>
<tr>
<td align="center" valign="top" class="infoSurround">
<span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.03969&bannertypeclick=wu_clean2day" title="Dublin, Ireland Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=EIDW&ForcedCity=Dublin&ForcedState=Ireland&wmo=03969&language=EN" alt="Find more about Weather in Dublin, IE" width="300" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.03969&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
</td>
</tr>

<th>Travel Departures</th>
<tr>
<td valign="top">
<div id="dynamic_train" class="infoSurroundTransport">Loading...</div>
</td>
</tr>

</table>
<a href="/settings">Settings</a>
</div>

<script>
var travel_delay = 10000;

    calloutTrain = function () {
        $.ajax({
            url: "/train",
		    dataType: "text",
		    cache: false
        })
        .done(function (response) {
            $("#dynamic_train").html(response);
        })
        .always(function () {
            setTimeout(calloutBus, travel_delay);
        });
    };

    calloutBus = function () {
        $.ajax({
            url: "/bus",
            dataType: "text",
            cache: false
        })
        .done(function (response) {
            $("#dynamic_train").html(response);
        })
        .always(function () {
            setTimeout(calloutTrain, travel_delay);
        });
    };

// initial call
calloutTrain();
</script>

<script>
var stock_delay = 60000,
    calloutStock = function () {
        $.ajax({
            url: "/stock",
            dataType: "text",
            cache: false
        })
        .done(function (response) {
            $("#stock").html(response);
        })
        .always(function () {
            setTimeout(calloutStock, stock_delay);
        });
    };
calloutStock();
</script>

<script>
var set_delay = 60000,
    calloutRss = function () {
        $.ajax({
            url: "/rss",
            dataType: "text",
            cache: false
        })
        .done(function (response) {
            $("#rss").parent().replaceWith(response);
        })
        .always(function () {
            setTimeout(calloutRss, set_delay);
        });
    };
calloutRss();
</script>

<script>
$("#clock_dc").jClocksGMT({offset: '-5', analog: true, digital: true, hour24: false});
$("#clock_dub").jClocksGMT({offset: '0', analog: true, digital: true, hour24: false});
$("#clock_cali").jClocksGMT({offset: '-8', analog: true, digital: true, hour24: false});
$("#clock_bangelore").jClocksGMT({offset: '+5.5', analog: true, digital: true, hour24: false});
</script>