<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rssfeed %><br>
    <%= f.text_field :rssfeed %>
  </div>
  <!-- <div class="field">
    <%= f.label :stocksymbol %><br>
    <%= f.text_field :stocksymbol %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :weathercode %><br>
    <%= f.text_field :weathercode %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :trainstation %><br>
    <%= f.text_field :trainstation %>
  </div>
  <div class="field">
    <%= f.label :busstopcode %><br>
    <%= f.number_field :busstopcode %>
  </div> -->
  <div class="field">
    <%= f.label :refreshtime %><br>
    <%= f.number_field :refreshtime %>
  </div>
  <div class="field">
    <%= f.label :photoRefresh %><br>
    <%= f.number_field :photoRefresh %>
  </div>
  <div class="field">
    <%= f.label :notices %><br>
    <%= f.text_area :notices ,:cols => "70", :rows => "10" %>
  </div>
  <div class="field">
    <%= f.label :marquee %><br>
    <%= f.text_area :marquee ,:cols => "100", :rows => "1" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
