<p id="notice"><%= notice %></p>

<h1>Listing Settings</h1>

<table>
  <thead>
    <tr>
      <th>Rssfeed</th>
      <th>Stocksymbol</th>
      <th>Weathercode</th>
      <th>Trainstation</th>
      <th>Busstopcode</th>
      <th>Refreshtime</th>
      
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.rssfeed %></td>
        <td><%= setting.stocksymbol %></td>
        <td><%= setting.weathercode %></td>
        <td><%= setting.trainstation %></td>
        <td><%= setting.busstopcode %></td>
        <td><%= setting.refreshtime %></td>
      </tr>
      <tr>
      <td><b>Notices:</b></td>
        <td colspan="5"><%= setting.notices %></td>
        </tr>
        <tr>
      <td><b>Marquee:</b></td>
        <td colspan="5"><%= setting.marquee %></td>
        </tr>
        <td><%= link_to 'Show', setting %>
        <%= link_to 'Edit', edit_setting_path(setting) %>
        <%= link_to 'Destroy', setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
      <td colspan="6"><hr></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setting', new_setting_path %>
<%= link_to "Home", root_path %>

