<p id="notice"><%= notice %></p>

<p>
  <strong>Rssfeed:</strong>
  <%= @setting.rssfeed %>
</p>

<p>
  <strong>Stocksymbol:</strong>
  <%= @setting.stocksymbol %>
</p>

<p>
  <strong>Weathercode:</strong>
  <%= @setting.weathercode %>
</p>

<p>
  <strong>Trainstation:</strong>
  <%= @setting.trainstation %>
</p>

<p>
  <strong>Busstopcode:</strong>
  <%= @setting.busstopcode %>
</p>

<p>
  <strong>Refreshtime:</strong>
  <%= @setting.refreshtime %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
